{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}

{% block main %}
  {% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
  {% endblock %}
  <h1>
    {{ 'utilisateur.reinitialiser.titre' | trans }}
  </h1>
  <section class="container mb-5">
    <div class="w-100 mb-4 p-2 p-md-4 container-style bg-white">
      <div class='row'>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
      </div>
    </div>
  </section>
{% endblock %}
