{% extends "UcaBundle/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            Vous avez été désinscrit à l'activité suivante:
            <span style="font-weight: bold;">
                {% include "UcaBundle/Datatables/Column/InscriptionDataColumn.html.twig" 
                    with { 'row': inscription } %}
            </span>
            <br/>
            En cas de problème, merci de contacter le bureau des sports
        </p>
    </div>
{% endblock %}