{% extends "UcaBundle/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            Le {{ inscription.date | date("d/m/Y à H:i") }}, vous avez souhaité vous inscrire à l'activité suivante:
            <span style="font-weight: bold;">
                {% include "UcaBundle/Datatables/Column/InscriptionDataColumn.html.twig" 
                    with { 'row': inscription } %}
            </span>
            <br/>
            Cette inscription a été refusée pour le motif {{ inscription.motifAnnulation }}.
            La précision suivant a été indiquée: {{ inscription.commentaireAnnulation|nl2br }}
        </p>
    </div>
{% endblock %}