{% extends "UcaBundle/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalConfirmation' %}
{% block modalTitle 'confirmation.action.titre' %}
{% block modalBody 'confirmation.action.message' | trans %}
{% block modalFooter %}
        <button class="btn btn-secondary" data-dismiss="modal" type="button">{{ 'bouton.retour' | trans }}</button>
        <a id="jsBoutonModal" onclick="duplicateScheduler(this)" class="btn btn-primary js-bouton-action d-block" type="button">{{'bouton.ok' | trans}}</a>
{% endblock %}