*~
~*
pnpm-lock.yaml
.vscode
assets/bundles
node_modules
var
vendor
public/build
public/bundles
public/media
public/upload/private/*
public/upload/public/*
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/tests/coverage/
###< phpunit/phpunit ###
/symfony.lock
### SITEMAP.YML ###
/src/Resources/config/sitemap.yml

/assets/libs/dhtmlxScheduler-5.1.6