{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@Uca/Common/Component/Bouton.Retour.html.twig" %}

<h1>{{'groupe.modifier.title'|trans}}</h1>
<div class="well">
  <div class="row">
    <div class="col-sm-12 col-lg-6"> 
       {{ form_start(form, { 'action': path('UcaGest_GroupeModifier', {'groupName': group_name}), 'attr': { 'novalidate': 'novalidate' } }) }}
       {{ form_widget(form) }}
       {{ form_end(form) }}
     </div>
  </div>
</div>
{% endblock fos_user_content %}
