{% extends '@Uca/Common/Main/Structure.Application.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('cssWeb') }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include('@Uca/Common/Securite/Menu.Utilisateur.UcaWeb.html.twig') %}
        </div>
    </div>
    {% if app.session.get("previsualisation") %}
        <div class="container-fluid previsualisation-div m-0 p-0">
            <div class="prev-border prev-btop"></div>
            <div class="prev-border prev-bright"></div>
            <div class="prev-border prev-bbottom"></div>
            <div class="prev-border prev-bleft"></div>
            <div class="prev-button d-flex justify-content-center align-items-center w-100 m-0 p-0">
                <a href="{{ urlRetourPrevisualisation() }}" class="d-block m-0 p-0 d-flex justify-content-center align-items-center px-5 h-100 text-uppercase fw-500 color-dark-gray">Quitter le mode prévisualisation</a>
            </div>
        </div>
    {% endif %}
    {% if app.request.attributes.get('_route') != 'UcaWeb_Accueil' %}
        <div class="breadcrumb-ucaweb">
            {% include('@Uca/Common/Main/Structure.Ariane.html.twig') %}
        </div>
    {% endif %}
    {% include('@Uca/Common/Main/Debug.HistoriqueNavigation.html.twig') %}
    {# Modal CGV si connecté et non accepté #}
    {% if app.user and app.user.cgvAcceptees is same as(false) and 'CGV' not in app.request.pathInfo %}
        {% include "@Uca/Common/Modal/Modal.CGV.html.twig" %}
    {% endif %}
    {% block main %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include '@Uca/Common/Main/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user and app.user.cgvAcceptees is same as(false) and 'CGV' not in app.request.pathInfo %}
        <script>
            $(function() {
                $('#modalCGV').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}