<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-primary main-nav" role="navigation">
    <a class="navbar-brand" href="{{url('UcaWeb_Accueil')}}">
        <img class="img-fluid rounded mb-3" alt="image_activite" src="{{ asset('images/logo.png') }}">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url('UcaWeb_ClasseActiviteLister')}}">Uca Web
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% include "@Uca/Common/Main/Structure.Menu.Auto.html.twig" %}
        </ul>
    </div>    
</nav>
<form class="second-nav-header form-inline">
    {% include "@Uca/Common/Securite/Menu.Utilisateur.html.twig" %}
    {% include "@Uca/Common/Main/Lang.html.twig" %}
</form>