{% extends "@Uca/Common/Modal/Modal.Information.html.twig" %}
{% block modalId %}{{ idModalDetailsEvent }}{% endblock %}
{% block modalTitle 'commande.evenement.libelle' %}
{% block modalBody %}
    {{ details | nl2br }}
{% endblock %}
{% block modalFooter %}
    <button class="btn btn-primary btn-confirmation" data-dismiss="modal" type="button" value="false">
        {{'bouton.ok' | trans }}
    </button>
{% endblock %}