{% extends "@Uca/Common/Main/Structure.UcaWeb.html.twig" %}
{% import '@Uca/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import '@Uca/Macros/Bootstrap.html.twig' as Bootstrap %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('SHN - Representer') }}
{% endblock %}

{% block main %}    
    <h1 class="h1-light">{{ 'sportdehautniveau.representer'|trans }}</h1>

    {% if emplacement("SHN - Representer") is not empty %}
        <section class="container container-style bg-white mb-5">
            {{ emplacement("SHN - Representer")|raw }}
        </section>
    {% endif %} 
{% endblock %}
