{% extends "@Uca/Common/Liste/Datatable.html.twig" %}

{% block DatatableHeader%}
    {% if not noAddButton is defined %}
        <div class="row">
            <div class="col-lg-6">
                <a href="{{ path('UcaGest_GroupeAjouter') }}" class="btn btn-primary btn-xs">{{ 'bouton.ajouter'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}