// BS-SURCHARGE.CSS
// Contenu : 

/* - - - COMMON - - - */

// GENERAL
// CONTAINER / SECTIONS / BACKGROUNDS
// PREVISUALISATION
// TITLES
// BUTTONS
// NAVBAR HEADER
// FOOTER
// BREADCRUMB

/* - - - HOMEPAGE - - - */

// CAROUSEL
// EVENTS
// ACTIVITY

/* - - - PAGE ACTIVITE - - - */

// FORMATS
// VIDEO
// IMAGE
// CALENDRIER

/* - - - INSTALLATIONS SPORTIVES - - - */


/* - - - EVENTS - - - */


/* - - - ADMIN - UCA GEST - - - */

// COLUMNS DATATABLES
// FORMS & DATATABLES
// CALENDAR

/* - - - COMMON - - - */

// GENERAL
.img-rounded {
    border-radius: 10px;
}

.ff-apex {
    font-family: 'Apex New Book';
}

.color-blue {
    color: $maximum-blue;
}

.color-blanc {
    color: $blanc;
}

.color-dark-gray {
    color: $eerie-black;
}

.color-taupe-gray {
    color: $taupe-gray;
}

.color-red {
    color: $french-wine;
}

.bg-blue {
    background: $maximum-blue;
}

.bg-blue-calendar {
    background-color: rgba(70, 174, 216, 0.15);
}

.bg-dark-gray {
    background: $eerie-black !important;
    color: $blanc !important;
}

.bg-taupe-gray {
    background: $taupe-gray;
}

.bg-pastel-gray {
    background: $pastel-gray;
}

.bg-isabelline {
    background: $isabelline;
}

.fs-12 {
    font-size: 0.75rem !important;
}

.fs-14 {
    font-size: 0.875rem !important;
}

.fs-16 {
    font-size: 1rem !important;
}

.fs-18 {
    font-size: 1.125rem !important;
}

.fs-21 {
    font-size: 1.3125rem !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.fs-30 {
    font-size: 1.875rem !important;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.z-index-top {
    z-index: 9999;
}

// CONTAINER / SECTIONS / BACKGROUNDS
html {
    height: 100%;
}

body {
    letter-spacing: 1px;
    color: $eerie-black;
    background-color: $pastel-gray;
    min-height: 100%;
    position: relative;
    padding-bottom: 97px;
    box-sizing: border-box;
}

.container-admin {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 1)) no-repeat center center fixed, url(../images/background-admin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-home {
    border-bottom: 1px solid $blanc;
}

.container-fluid {
    margin: 0 0 40px 0;
    padding: 0;
}

.container {
    max-width: 1200px;
}

.container-style {
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal-content {
    min-height: 300px;
}

.bg-dark {
    border: 2px solid $blanc;
}

// @include media-breakpoint-down(lg) { 
@media (max-width: 1300px) {
    body {
        padding-bottom: 202px;
    }
    .container-style-border-none {
        border-radius: 0;
    }
}

@include media-breakpoint-down(md) {
    body {
        padding-bottom: 322px;
    }
}

// PREVISUALISATION
.previsualisation-div {
    z-index: 9999;
}

.prev-border {
    position: fixed;
    background: $blanc;
    box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.35);
    z-index: 9998;
}

.prev-btop {
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    box-shadow: none;
    z-index: 9999;
}

.prev-bright {
    top: 10px;
    right: 0;
    height: 100%;
    width: 10px;
}

.prev-bbottom {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

.prev-bleft {
    top: 10px;
    left: 0;
    height: 100%;
    width: 10px;
}

.previsualisation-div .prev-button {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    z-index: 9999;
    transition: 0.25s;
}

.previsualisation-div .prev-button:hover {
    height: 65px;
}

.previsualisation-div .prev-button a {
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    background-color: $blanc;
    box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.35);
    transition: 0.25s;
}

.input-img-preview .form-group {
    margin-bottom: 0px !important;
}

// TITLES
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding: 25px;
    word-break: break-word;
    overflow-wrap: break-word;
}

h1.h1-light {
    color: $blanc;
}

h1::after,
h2::after {
    content: '';
    display: block;
    width: 150px;
    height: 10px;
    background: $maximum-blue;
    margin: 25px auto;
}

h2 {
    color: $maximum-blue;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

h2.h2-light {
    color: $blanc;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding: 25px;
    padding-top: 50px;
}

h3 {
    font-size: 1.3125rem;
    font-weight: 800;
}

.hide-column {
    display: none;
}

.hide-border-title::after {
    content: none !important;
}

// BUTTONS
.btn {
    border-radius: 5px;
    padding: 8px 17px;
    margin: 5px 2px 10px 2px;
    border: none;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 500;
    letter-spacing: 1px;
    transition: ease-in 0.25s;
}

.btn-primary {
    box-shadow: 0 3px 0 $sea-blue;
}

.btn-primary:hover {
    background: $cyan-cornflower-blue;
}

.btn-outline-primary {
    background: $blanc;
    color: $maximum-blue;
    border: 2px solid $maximum-blue;
}

.btn-outline-primary:hover {
    background: $blanc;
    color: $cyan-cornflower-blue;
    border: 2px solid $cyan-cornflower-blue;
}

.btn-secondary {
    box-shadow: 0 3px 0 $gunmetal;
}

.btn-success {
    box-shadow: 0 3px 0 $spanish-green;
}

.btn-success:hover {
    background: $shamrock-green;
}

.btn-danger {
    box-shadow: 0 3px 0 $dark-sienna;
}

.btn-danger:hover {
    background: $burgundy;
}

.btn-warning {
    box-shadow: 0 3px 0 $vivid-amber;
}

.btn-dark {
    box-shadow: 0 3px 0 $eerie-black;
}

.btn-info,
.btn-info.disabled {
    background: $taupe-gray;
    box-shadow: 0 3px 0 $gunmetal;
}

.btn-info:hover {
    background: $taupe-gray;
}

.btn-primary.disabled,
.btn-secondary.disabled,
.btn-success.disabled,
.btn-danger.disabled,
.btn-warning.disabled,
.btn-outline.disabled,
.btn-info.disabled {
    cursor: not-allowed;
}

.btn-fit-content {
    height: fit-content;
}

.mh-40 {
    min-height: 40px !important;
}

@include media-breakpoint-down(xs) {
    .btn-form {
        padding: 7px 15px;
        font-size: 0.75em;
    }
    h1 {
        font-size: 1.5em;
    }
}

// PAGINATION
.pagination-link {
    color: $eerie-black;
    font-weight: 500;
}

.pagination-link span.active {
    color: $maximum-blue;
}

.pagination-link:hover {
    text-decoration: none;
}

// NAVBAR HEADER
.main-nav * {
    background: $eerie-black;
}

.navbar {
    padding: 0 1rem;
    height: 100px;
}

.navbar-collapse,
.navbar-collapse ul,
.navbar-collapse ul li,
.navbar-collapse ul li .nav-link {
    height: 100%;
}

.nav-link:hover,
a.dropdown-item:hover {
    background-color: $eerie-black;
    color: $blanc;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    margin: 0 !important;
}

.navbar-dark .navbar-nav .nav-link.nav-home {
    font-size: 1rem;
    border-bottom: 5px solid transparent;
}

.navbar-dark .navbar-nav li .nav-link-border {
    border-bottom: 5px solid rgba(70, 174, 216, 0);
    transition: .15s ease-in;
}

.navbar-dark .navbar-nav li .nav-link-border:hover,
.navbar-dark .navbar-nav li .nav-link-border.active {
    border-bottom: 5px solid rgba(70, 174, 216, 1);
}

.navbar-dark .navbar-nav li:nth-child(1) {
    display: none;
}

.navbar-dark .navbar-nav .nav-link,
.navbar form a {
    color: $blanc;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    margin: 0;
    font-size: 0.9rem;
}

.dropdown-menu,
.return-to-website {
    font-size: 0.9rem;
}

.dropdown-menu {
    background-color: $eerie-black;
    border: none;
    width: 300px
}

.dropdown-menu a {
    color: $blanc;
    padding: 0.5rem 0.75rem;
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background: initial;
}

.bg-primary {
    background: $eerie-black !important;
    padding: 0 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

a.return-to-website {
    color: $blanc;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    text-transform: uppercase;
}

.second-nav-header {
    z-index: 9998;
    position: fixed;
    top: 0;
    right: 25px;
    padding: 28px 0;
}

.second-nav-header .nav-link {
    padding: 0.5rem 0.75rem;
    color: $blanc;
}

.second-nav-header a.profile,
// .second-nav-header a.disconnect,
.second-nav-header a.itemprofile,
// .second-nav-header a.connect,
.second-nav-header a.flag-item {
    padding: 5px 17px;
}

.second-nav-header a.flag-item {
    width: auto;
}

.nav-menu-right {
    position: relative;
}

.nav-menu-right .dropdown-menu {
    right: 0;
    left: initial;
}

.navbar-dark .navbar-toggler {
    border: none;
    padding: 0;
}

.dropdown-toggle::after {
    vertical-align: 0.1em;
}

@include media-breakpoint-down(lg) {
    .navbar-collapse,
    .navbar-collapse ul,
    .navbar-collapse ul li,
    .navbar-collapse ul li .nav-link {
        height: auto;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px;
    }
    .second-nav-header {
        right: 75px;
    }
    .second-nav-header .nav-link {
        padding: 0.5rem;
    }
}

@include media-breakpoint-down(md) {
    .second-nav-header {
        right: 65px;
    }
    .second-nav-header .nav-link {
        padding: 0.5rem 0.3rem;
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        align-items: center;
        flex-wrap: nowrap;
        z-index: 9999;
    }
    .main-nav {
        height: 75px;
    }
    .navbar-brand img {
        width: 75%;
    }
    .second-nav-header {
        padding: 10px 20px 5px 20px;
        top: 65px;
        right: initial;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: #1a1a1a !important;
        border-top: 1px solid rgb(50, 50, 50);
    }
    .navbar-dark .navbar-toggler {
        z-index: 9999;
    }
    .navbar-collapse {
        flex-basis: initial;
        flex-grow: initial;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh !important;
        padding: 65px 25px;
    }
    .breadcrumb-ucaweb nav[aria-label="breadcrumb"] {
        margin-top: 150px !important;
    }
}

// FOOTER
.navbar-footer {
    padding: 15px 25px;
    width: 100%;
    height: auto;
    background: $eerie-black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.navbar-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-footer ul li a {
    color: $blanc;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.15s ease-in;
}

.navbar-footer ul li a:hover,
footer form a:hover {
    color: rgba(255, 255, 255, 0.75);
}

footer form p {
    color: $blanc;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 0;
}

footer form a {
    font-size: 1.5rem;
    padding: 5px 12px;
    color: $blanc;
}

// @include media-breakpoint-down(lg) {
@media (max-width: 1300px) {
    .navbar-footer {
        justify-content: center;
        flex-direction: column;
    }
    .navbar-footer .footer-logo-uca {
        text-align: center;
    }
    .navbar-footer ul {
        text-align: center;
    }
    .navbar-footer form {
        margin-top: 25px;
        text-align: center;
    }
}

@include media-breakpoint-down(md) {
    .navbar-footer ul {
        flex-direction: column
    }
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

// BREADCRUMB
nav[aria-label="breadcrumb"] {
    max-width: 1200px;
    margin: 40px auto;
}

.breadcrumb-ucagest nav[aria-label="breadcrumb"] {
    margin-top: 0;
}

.breadcrumb-ucaweb nav[aria-label="breadcrumb"] {
    margin-top: 125px;
}

nav[aria-label="breadcrumb"] ol {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none;
}

.breadcrumb,
.breadcrumb a {
    text-transform: uppercase;
    color: $blanc !important;
    font-weight: 400;
    font-size: 0.75rem;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: $blanc;
    font-weight: 500;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: $blanc;
}

@include media-breakpoint-down(lg) {
    nav[aria-label="breadcrumb"] ol {
        padding-left: 30px;
    }
}

@include media-breakpoint-down(sm) {
    nav[aria-label="breadcrumb"] {
        margin-top: 90px;
    }
}


/* - - - HOMEPAGE - - - */

// CAROUSEL
.carousel {
    height: fit-content;
    height: -moz-fit-content;
    min-height: 520px;
    margin-top: 100px;
}

.carousel-control-prev {
    left: -25px !important;
    opacity: .5;
    color: black !important;
}

.carousel-control-next {
    right: -20px !important;
    opacity: .5;
    color: black !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: .75;
    color: black;
}

.carousel-control-prev:active,
.carousel-control-next:active {
    opacity: 1;
    color: black;
}

.carousel-inner,
.carousel-item {
    height: 100%;
    min-height: 75vh;
}

.carousel-item {
    padding-top: 50px;
}

.carousel-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-arrows a {
    box-sizing: content-box;
    flex: 0 1 auto;
    font-size: 3rem;
    color: $blanc !important;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-social-media {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 999;
}

.carousel-social-media div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.carousel-social-media a {
    display: block;
    width: 100%;
    padding-bottom: 30px;
    font-size: 1.5rem;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-arrows a:hover,
.carousel-social-media a:hover {
    opacity: 1;
}

.carousel-logo-uca {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    opacity: .9;
}

.carousel-item div {
    margin: auto;
}

.carousel-item div h2 {
    text-align: left;
    padding: 0;
    font-size: 2.625rem;
}

.carousel-item div h2::after {
    content: none;
}

.carousel-item div p {
    font-size: 1.5rem;
}

@include media-breakpoint-down(md) {
    .carousel-social-media,
    .carousel-logo-uca {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    .carousel {
        margin-top: 50px;
        height: 100%;
        min-height: 0;
    }
    .carousel-item div {
        margin: 10% auto 10% auto;
    }
    .carousel-item div h2 {
        padding-top: 5%;
    }
}

// EVENTS
.event {
    border-radius: 5px !important;
    border: 2px solid $blanc;
}

.event,
.events-link {
    width: 48%;
    min-height: 125px;
    margin: 8px;
}

.events-link a {
    color: $blanc;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.event-date {
    background: $blanc;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 800;
    border-radius: 5px;
}

.event-info {
    padding: 15px 20px;
}

.event-title {
    text-transform: uppercase;
}

@include media-breakpoint-down(md) {
    .event,
    .events-link {
        width: 48%;
        margin: 5px;
    }
}

@include media-breakpoint-down(sm) {
    .event,
    .events-link {
        width: 75%;
        margin: 10px auto;
    }
    .events-link {
        margin-top: 50px;
    }
}

@include media-breakpoint-down(xs) {
    .event,
    .events-link {
        width: 90%;
    }
}

// ACTIVITY
.activity-type {
    border-radius: 5px;
    border: 2px solid $blanc;
    width: 32%;
    min-height: 225px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.activity-type::before {
    content: '';
    border-radius: 5px;
    background: rgba(70, 174, 216, 0);
    width: 0%;
    height: 0%;
    z-index: 1;
    position: absolute;
    transition: 0.15s ease-in;
}

.activity-type:hover::before {
    width: 100%;
    height: 100%;
    background: rgba(70, 174, 216, 0.5);
}

.activity-type a {
    padding: 0 10px;
    text-transform: uppercase;
    background: rgba(70, 174, 216, 0);
    color: $blanc;
    font-weight: 800;
    font-size: 1.3125;
    transition: 0.15s ease-in;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-type a:hover {
    color: $blanc;
    text-decoration: none;
    background: rgba(70, 174, 216, 0);
}

@include media-breakpoint-down(md) {
    .activity-type {
        width: 48%;
    }
}

@include media-breakpoint-down(sm) {
    .activity-type {
        width: 75%;
    }
}

.activity-type-small {
    min-height: 77px;
    width: 50%;
    a {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
    }
}

@media (min-width: 450px) {
    .activity-type-small {
        width: 33%;
    }
}

@media (min-width: 576px) {
    .activity-type-small {
        width: 25%;
    }
}

@media (min-width: 680px) {
    .activity-type-small {
        width: 20%;
    }
}

@media (min-width: 810px) {
    .activity-type-small {
        min-height: 118px;
        width: 16.6%;
    }
}

@media (min-width: 1200px) {
    .activity-type-small {
        a {
            font-size: 19px;
            line-height: 25px;
        }
    }
}


/* - - - PAGE ACTIVITE - - - */

// FORMATS
.pageFormatActivity .titleSectionFormat {
    font-size: 1.3125rem;
}

.format-type {
    border-radius: 5px;
    border: 2px solid $blanc;
    width: 32%;
    min-height: 225px;
}

.format-type svg {
    font-size: 2rem;
}

.card-install .card-section h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-install .card-section p,
.card-install .card-section ul {
    color: $eerie-black;
    list-style: none;
    padding-left: 0;
}

.card-install .card-section svg {
    color: $maximum-blue;
}

.bg-bloc-reservation {
    background: $gunmetal;
}

.suscribe-card {
    max-width: 570px;
    margin: 0 auto;
    position: relative;
}

.suscribe-card .row {
    margin-left: 0;
    margin-right: 0;
}

.suscribe-card h2 {
    background: $eerie-black;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    position: absolute;
    top: -18px;
    left: 20%;
}

.suscribe-card h3 {
    color: $maximum-blue;
    font-size: 1rem;
    text-transform: uppercase;
}

.suscribe-card button {
    margin: 0 auto;
}

select#selectDays {
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-width: 200px;
}

.autorisationCaseACocher label {
    font-weight: 400;
}

@include media-breakpoint-down(md) {
    .format-type {
        width: 48%;
    }
}

@include media-breakpoint-down(sm) {
    .format-type {
        width: 75%;
    }
    .pageFormatActivity .titleSectionFormat,
    .bg-bloc-reservation .titleSectionFormat {
        text-align: center;
    }
}

@include media-breakpoint-down(xs) {
    .suscribe-card h2 {
        width: 80%;
        left: 10%;
    }
}

// VIDEO
.card-video-small {
    width: 100% !important;
}

.card-video {
    overflow: hidden;
    width: 30%;
    height: 225px;
}

.card-video-small::before {
    content: '';
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    width: 0%;
    height: 0%;
    z-index: 1;
    position: absolute;
    transition: 0.15s ease-in;
    margin-left: -16px;
    margin-top: -16px;
}

.card-video-small:hover::before {
    width: 91.5%;
    height: 225px;
    background: rgba(0, 0, 0, 0.25);
}

.bg-dark.card-video:hover {
    border: 4px solid $blanc;
}

@include media-breakpoint-down(md) {
    .card-video {
        width: 48%;
    }
    .card-video {
        height: 400px;
    }
    .card-video-small:hover::before {
        height: 400px;
        width: 96.5%;
    }
}

@include media-breakpoint-down(sm) {
    .card-video {
        width: 75%;
    }
    .card-video-small:hover::before {
        width: 93%;
    }
}

.card-video span {
    white-space: nowrap;
}

.card-video .fa-play-circle {
    background-color: $blanc;
    border-radius: 50%;
    padding: 2px;
}

// CALENDRIER
// Général
.day,
.day-time-slots {
    width: 13.75%;
}

#header-calendar {
    border-bottom: 1px solid $pastel-gray;
}

.calendar-arrow-left,
.calendar-arrow-right {
    width: 5%;
}

// Légende
.legend-item {
    width: 50px;
    height: 20px;
    border-radius: 5px;
}

// Créneau
.day-time-slots button {
    border-radius: 5px;
    height: 40px;
}

.calendar-time-slot:hover {
    color: $sea-blue;
}

.available-icon {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.activeCalendar,
.activeCalendar:hover {
    background: $green-crayola;
    color: $blanc;
}

.activeCalendar .available-icon {
    background: $blanc !important;
}

.register {
    background-color: #46aed8 !important;
    color: white !important;
}

// Mobile
#calendar-mobile #header-left,
#calendar-mobile #header-right {
    cursor: pointer;
}

.week-mobile .calendar-time-slot {
    width: 75%;
    margin: 0 auto;
}


/* - - - INSTALLATIONS SPORTIVES - - - */

.card-install {
    border-radius: 10px !important;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.card-install .card-header {
    background: none;
    border-bottom: 1px solid $pastel-gray;
    padding: 0;
}

.card-install .card-header * {
    background: none !important;
    border: none !important;
}

.card-install .card-header a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
}

.card-install .card-header a .fa-chevron-down {
    color: $eerie-black !important;
    transform: rotateZ(-180deg);
    transition: 0.15s ease-in;
}

.card-install .card-header a.collapsed .fa-chevron-down {
    transform: rotate(0deg);
    transition: 0.15s ease-in;
}

.card-install .card-header p,
.card-install .install-coordinates p,
.card-install .install-opening-hours p,
.card-install .install-activity h3 {
    color: $eerie-black;
}

.card-install .card-header p svg {
    color: $maximum-blue;
}

.card-install h2 {
    font-size: 1.125rem;
    font-weight: 800;
}

.card-install h2::after {
    content: none;
}

.card-install h3 {
    width: 100%;
}

.card-install .install-coordinates h3,
.card-install .install-opening-hours h3,
.card-install .install-virtual-visit h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-install .install-activity h3 {
    font-weight: 500;
    font-size: 1rem;
}

.card-install .install-activity div p {
    background: rgba(70, 174, 216, 0.15);
    padding: 5px 0;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 5px;
}


/* - - - EVENTS - - - */

.card-event h2 {
    font-size: 1.125rem;
    font-weight: 800;
}

.card-event h2::after {
    content: none;
}

.card-event .event-location h3,
.card-event .event-time h3,
.card-event .event-price h3,
.card-event .event-supervisor h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: $maximum-blue;
}


/* - - - SPORT DE HAUT NIVEAU / INFOS PRATIQUES - - - */

.custom-card .card-body h3 {
    text-transform: uppercase;
    color: $maximum-blue;
    font-size: 1rem;
    font-weight: 800;
}

.custom-card table {
    margin: 0 auto;
    float: none;
    width: 80% !important;
    border-radius: 5px;
    overflow: hidden;
}

.custom-card table,
.custom-card table thead,
.custom-card table tbody,
.custom-card table th,
.custom-card table tr,
.custom-card table td {
    border: none;
}

.custom-card table thead tr th {
    background: $maximum-blue;
    color: $blanc;
    border-right: 1px solid $blanc;
    padding: 10px;
}

.custom-card table tbody tr th {
    background: $taupe-gray;
    color: $blanc;
    border-right: 1px solid $blanc;
    border-bottom: 1px solid $blanc;
    padding: 10px;
}

.custom-card table thead tr th:first-child {
    border-radius: 5px 0 0 0;
}

.custom-card table thead tr th:last-child {
    border-radius: 0 5px 0 0;
}

.custom-card table tbody tr:nth-child(even) td {
    background: $isabelline;
}

.custom-card table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

.custom-card table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

.custom-card table td {
    vertical-align: top;
    border-right: 1px solid $blanc;
    padding: 10px;
}

.custom-card table th:last-child,
.custom-card table td:last-child {
    border-right: none;
}

.custom-card table tbody tr:last-child th[scope="row"] {
    border-radius: 0 0 0 5px;
}

@include media-breakpoint-down(md) {
    .custom-card table {
        width: 100% !important;
    }
}


/* - - - ADMIN - UCA GEST - - - */

// COLUMNS DATATABLES
@include media-breakpoint-down(xl) {
    .hide-column-xl {
        display: none;
    }
}

@include media-breakpoint-down(lg) {
    .hide-column-lg {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .hide-column-md {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    .hide-column-sm {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    .hide-column-xs {
        display: none;
    }
}

// FORMS
.form-connect {
    padding: 20px;
}

.form-connect input.btn {
    padding: 10px 25px;
}

input,
.form-control {
    border-radius: 5px;
    border: none;
    border: 2px solid $pastel-gray;
    padding: 10px 15px;
    min-height: 40px;
}

label,
legend {
    font-weight: 700;
}

.form-check {
    display: flex;
    align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0;
    min-height: auto;
}

.custom-select {
    background: none;
}

select {
    margin-right: 10px;
    margin-bottom: 10px;
}

.selection {
    width: 100%;
}


/* select2 : permet de masquer les options choisi dans la liste de choix */

.select2-results__option[aria-selected="true"] {
    display: none;
}


/* select2 : permet de s'assurer que les elements selectionnes ne depassent pas la taille du champs */

.select2-selection__choice {
    overflow: hidden;
    max-width: 100%;
}


/* form : permet d'ajouter une étoile rouge devant les champs obligatoires */

label:not(.form-check-label),
legend {
    &.required:before {
        content: "* ";
        color: $french-wine;
    }
}

.form-error-message {
    font-weight: 700;
}

// DATATABLES
.datatable-responsive {
    display: block;
    width: 100%;
    overflow-x: scroll;
}

.max-w-33 {
    width: 33%;
}

.dataTables_length label,
.dataTables_filter label {
    display: flex;
    align-items: center;
}

.dataTables_length label .form-control,
.dataTables_filter label input {
    margin: 10px;
}

.dataTables_length label .form-control {
    max-width: 100px;
}

#sg-datatables-texte_datatable td * {
    font-size: 1rem !important;
    font-weight: 400 !important;
    font-style: initial !important;
    line-height: 1.5 !important;
    text-align: left !important;
}

#sg-datatables-texte_datatable td *::after {
    display: none !important;
}


/* Fix colonnes datable Groupes */

#sg-datatables-Groupe_datatable {
    table-layout: fixed;
    width: 100% !important;
    white-space: nowrap;
}

#sg-datatables-Groupe_datatable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sg-datatables-Groupe_datatable tr td:last-child {
    white-space: normal;
}

#sg-datatables-Groupe_datatable th {
    width: 33% !important;
}

.sg-datatables-individual-filtering {
    width: 100%;
}


/* Loader pour le datatable */

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    border: 1px solid #dee2e6;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    z-index: 9;
}

.dataTables_wrapper .dataTables_processing::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f110";
    display: block;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    width: 75px;
    margin-left: 46.5%;
    font-size: 1.2em;
}

.table-responsive {
    overflow-x: visible;
}


/* Tri sur les datatable */

.dataTables_wrapper {
    .sorting,
    .sorting_asc,
    .sorting_desc {
        cursor: pointer;
        &::before {
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
        }
    }
    .sorting::before {
        content: "\f0dc";
    }
    .sorting_asc::before {
        content: "\f0dd";
    }
    .sorting_desc::before {
        content: "\f0de";
    }
}

@include media-breakpoint-down(sm) {
    .datatable-responsive {
        max-height: 540px;
        overflow-y: scroll;
    }
    .max-w-50-sm {
        width: 50%;
    }
}

@include media-breakpoint-down(xs) {
    .datatable-responsive {
        max-height: 420px;
        overflow-y: scroll;
    }
}

// CALENDAR
.dhx_month_head {
    height: auto;
    padding: 0 !important;
}

.container-admin .dhx_cal_container {
    max-height: 75vh;
}

.dhx_mini_calendar .dhx_month_head {
    font-weight: 500;
}

.dhx_month_head.dhx_year_event {
    color: $maximum-blue;
    border: 1px solid $maximum-blue;
    background: $blanc;
}

.dhx_mini_calendar .dhx_calendar_click {
    color: $blanc;
    background-color: $maximum-blue;
}

.dhx_now .dhx_month_head {
    color: $blanc;
    background-color: $sea-blue;
    border: 1px solid $sea-blue;
}

.dhx_now .dhx_month_body {
    background-color: none;
    border: none;
}

.dhx_cal_event_clear {
    background: $eerie-black !important;
    color: $blanc !important;
}

.dhx_cal_event_line {
    background: $cyan-cornflower-blue !important;
}

@include media-breakpoint-down(md) {
    .container-admin .dhx_cal_container {
        max-height: 50vh;
    }
}

li[aria-disabled="true"] {
    display: none!important;
}

.bg-opacity-10{
    opacity: 10%;
}

.bg-opacity-20{
    opacity: 20%;
}

.bg-opacity-30{
    opacity: 30%;
}

.bg-opacity-40{
    opacity: 40%;
}

.bg-opacity-50{
    opacity: 50%;
}

.bg-opacity-75{
    opacity: 75%;
}

.bg-opacity-100{
    opacity: 100%;
}