// Typography
$font-family-base: 'Apex New Book';

// Colors
$primary:       $maximum-blue;
$success:       $green-crayola;
$info:          $cyan-cornflower-blue;
$danger:        $french-wine;

// Accordion
$card-border-color:  $primary;
$card-border-radius:  '0px';
$card-bg:  $blanc;
$card-cap-bg: $primary;
$card-cap-color: $blanc;
$card-color:  $primary;
$dropdown-divider-bg:  $pastel-gray;
$dropdown-link-hover-color:   $primary;

// Breadcrumb
$breadcrumb-divider: quote(">");