// NOUVELLE CHARTE
// Déclinaison couleurs principales
$maximum-blue: rgb(70, 174, 216); // #46AED8
$eerie-black: rgb(26, 26, 26); // #1A1A1A
// Déclinaison couleurs secondaires (boutons)
$sea-blue: rgb(0, 111, 156); // #006F9C (box shadow)
$cyan-cornflower-blue: rgb(44, 148, 190); // #2C94BE (fond hover)
$french-wine: rgb(174, 17, 67); // #AE1143 (couleur de fond)
$dark-sienna: rgb(49, 8, 31); // #31081F (box shadow)
$burgundy: rgb(130, 2, 43); // #82022B (fond hover)
$green-crayola: rgb(17, 197, 119); // #11C577 (couleur de fond)
$spanish-green: rgb(0, 139, 79); // #008B4F (box shadow)
$shamrock-green: rgb(0, 159, 90); // #009F5A (fond hover)
$vivid-amber: rgb(199, 159, 3); // #C79F03 (box shadow)
$blue-calendar: rgba(70, 174, 216, 0.15); // Fond bleu créneaux disponibles
// Déclinaison tons gris
$gunmetal: rgb(41, 49, 50); // #293132
$taupe-gray: rgb(139, 139, 139); // #8B8B8B
$pastel-gray: rgb(201, 201, 201); // #C9C9C9
$isabelline: rgb(238, 238, 238); // #EEEEEE
$blanc: rgb(255, 255, 255); // #FFFFFF;
$grey-border: #707070;