{% extends "UcaBundle/Common/Main/Structure.UcaWeb.html.twig" %}
{% import 'UcaBundle/Macros/ImageAsset.html.twig' as ImageAsset %}
{% import 'UcaBundle/Macros/SiteMap.html.twig' as sitemap %}

{% block stylesheets %}
    {{ parent() }}
    {{ ImageAsset.imageFondCssWithEmplacement('Défaut') }}
{% endblock %}

{% block main %}
    <h1 class="h1-light">{{'footer.plandusite' | trans}}</h1>
    <section class="container mb-5">
        <div class="w-100 mb-4 p-2 p-md-4 container-style bg-white justify-content-between card-event">
            {{ sitemap.generatePlanSite() }}
        </div>
    </section>
{% endblock %}
