{% extends "@Uca/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		{{ 'email.politesse' | trans }}
		<span></br></br></span>
		<p>
            {{ 'email.preinscription.confirmationDemande' | trans }}
        </p>
    </div>
{% endblock %}