{% extends "@Uca/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            Votre demande de pré-inscription a été refusée.
        </p>
    </div>
{% endblock %}