<div class="modal fade" id="modalLoader" tabindex="-1" role="dialog" aria-labelledby="modalLoader" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLoader">{{ 'bascule.loader'|trans }}</h5>
                </div>
                <div class="modal-body text-center" style="height: 300px;">
                    <div class="row align-items-center" style="height: 300px;">
                        <div class="col-12">
                            <i class="fa fa-spinner fa-spin fa-5x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>