{% extends "@Uca/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            Le message suivant vous a étté envoyé par l'encadrant de l'activité:
            <p>
                {{ message }}
            </p>
        </p>
    </div>
{% endblock %}