{% extends "@Uca/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
		Bonjour,
		<span></br></br></span>
        <p>
            La commande n°{{ commande.numeroCommande}} n'a pas pu être terminée.
            <br/>
            Le montant PAYBOX payé par l'utilisateur est de {{ montantPaybox }}€  alors que le montant totale de la commande est de {{ commande.montantPaybox }}€.
        </p>
    </div>
{% endblock %}