<div class='row' id='ligneBoutonRetour'>
	<a class="btn btn-primary" role="button" href="{{ historique_navigation.getUrlRetour }}">
		<i class="fas fa-chevron-left mr-1" alt=""></i>
		{{'bouton.retour'|trans}}
	</a>
</div>
