{% extends "@Uca/Common/Main/Structure.UcaGest.html.twig" %}

{% block main %}
<a class="btn btn-primary" href="javascript:history.go(-1)"><i class="fas fa-chevron-left"></i> Retour</a>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %} 

{% block javascripts %}
{% endblock %}