{% extends "@Uca/Common/Modal/Modal.Information.html.twig" %}
{% block modalId 'modalInscription' %}
{% block modalTitle 'common.chargement' %}
{% block modalBody %}
    <div class="spinner-border" role="status">
        <span class="sr-only">{{'common.chargement'|trans}}</span>
    </div>
{% endblock %}
{% block modalFooter %}{% endblock %}
