{% extends "UcaBundle/Email/TemplateEmail.html.twig" %}
{% block main %}
	<div>
        <p>
            {{ 'utilisateur.password_forgotten.mail.message'|trans({ '%resetPasswordUrl%': app.request.schemeAndHttpHost ~ path('security_change_password', { 'id': user.id, 'token' : user.confirmationToken })})|nl2br }}
        </p>
    </div>
{% endblock %}